<mat-card class="account-card">
    <div class="account-image-container">
        @if(!!accountImg) {
        <img class="account-type-logo" [src]="accountImgSrc" />
        }
        <img
            class="account-img"
            [ngClass]="{ 'round-less': roundLess }"
            [src]="!!accountImg ? accountImg : backupImg" />
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="account-details">
        <ng-content></ng-content>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    @if(!!link) {
    <div class="link-box">
        <button mat-raised-button (click)="openLink()" [matTooltip]="linkTooltip">
            <mat-icon>open_in_new</mat-icon>
        </button>
    </div>
    }
</mat-card>
