<mat-form-field subscriptSizing="dynamic" class="generic-filter" [ngStyle]="{ width: inputWidth }">
    <mat-icon matPrefix>search</mat-icon>
    <!-- Double binding works on [(value)] -->
    <input
        #filterInput
        matInput
        type="text"
        autocomplete="off"
        (keyup)="keyupEvent($event)"
        (keydown)="$event.stopPropagation()"
        [(ngModel)]="value"
        [placeholder]="placeholder" />
    <button
        [hidden]="!value"
        mat-icon-button
        matSuffix
        class="clear-button"
        aria-label="Clear"
        (click)="onClearClick()">
        <mat-icon>cancel</mat-icon>
    </button>
</mat-form-field>
