:host {
    display: block;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clear-button {
    color: #b6b5b5;
    transition: all 0.1s ease-in-out;
    margin-top: -6px;
}
.clear-button:hover {
    color: #919191;
}
