// .block-container { 
//     border-radius: 50px;
//     background: #e0e0e0;
//     box-shadow:  20px 20px 60px #bebebe,
//                 -20px -20px 60px #ffffff;

//     width: 200px;
//     height: 100px;
//     padding: 20px;
// }

.card {
    // min-width: 175px;
    // min-height: 100px;
    background: white;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #bebebe,
               -5px -5px 15px #ffffff;
    transition: 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    }
}
  