<mat-card appearance="outlined">
    <mat-card-title> About </mat-card-title>
    <mat-divider></mat-divider>
    <p>
        Website designed to display consolidated stats for accounts across a variety of social media and content sharing
        platforms
    </p>
    <mat-divider></mat-divider>
        <p> Developed by <a target=”_blank” href="https://twitter.com/Cyranek">@Cyranek</a></p>
    <mat-divider></mat-divider>
    <a target="_blank" href="https://github.com/hncleary/vanity-plate-pr">Data Gathering Source Code</a>
    <a target="_blank" href="https://github.com/hncleary/vanity-plate-ng">Website Source Code</a>
    <a target="_blank" href="https://github.com/hncleary/vanity-plate-db">Statistics Source</a>
</mat-card>
