<div class="app-container">
    <!-- Header -->
    <div class="header">
        <app-display-plate displayText="Vanity Plate Social"></app-display-plate>
        <app-header-nav-buttons></app-header-nav-buttons>
    </div>

    <mat-divider class="app-divider"></mat-divider>
    
    <!-- Body -->
    <div class="body">
        <div class="content-container">
            <router-outlet></router-outlet>
        </div>
    </div>

    <mat-divider class="app-divider"></mat-divider>

    <!-- Footer -->
    <div class="footer">
        <img src="https://www.counter12.com/img-zc14Yw1Ya1a253Cy-50.gif" />
        <p>
            page views
        </p>
    </div>
</div>
