@import 'src/styles.scss';

:host {
    min-width: 300px;
    overflow-x: hidden;
    @include flex-col-center();
    .app-divider { 
        margin: 10px;
    }
    .app-container {
        position: relative;
        height: calc(100vh);
        width: calc(100vw);
        $header-height: 150px;
        $footer-height: 40px;
        .header {
            height: calc($header-height - 40px);
            padding-top: 30px;
            padding-bottom: 10px;
            width: 100%;
            @include flex-col-center();
            gap: 5px;
            p {
                font-weight: bold;
                font-size: 24px;
            }
        }
        .body {
            display: flex;
            flex-direction: row;
            $side-nav-width: 100px;
            padding-bottom: 25px;
            position: relative;
            .content-container {
                @include flex-col-center();
                width: calc(100%);
                height: calc(100%);
                position: relative;
            }
        }
        .footer {
            height: calc($footer-height);
            @include flex-row-center();
            gap: 10px;
            p { 
                color: grey;
                font-size: 14px;
            }
        }
    }
}
