@import 'src/styles.scss';

:host { 
    width: 100%;
    height: 100%;
}

.stats-container {
    padding-top: 15px;
    width: 100%;
    .user-sum-container { 
        @include flex-row-center();
        app-stats-block { 
            width: 50%;
            min-width: 250px;
        }
        .user-top-block { 
            padding: 15px;
            @include flex-col-center();
            gap: 10px;
            .display-name { 
                font-weight: bold;
                font-size: large;
            }
            .username-id { 
                font-weight: small;
                color: grey;
            }
            .follower-count { 
                font-size:medium;
            }
        }
    }
    .platform-title {
        font-weight: bold;
        @include flex-row-center();
        padding: 20px;
    }
    .stats-block-container { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 20px;
        justify-content: center;
    }

}



