<div class="stats-container">
    <!-- User Profile Summary Plate -->
    <ng-container *ngIf="!loading">
        <app-user-plate [userStats]="userStats" [userSum]="userSum"></app-user-plate>
    </ng-container>
    <!-- Time Retrieved -->
    <div class="timestamp">
        <p *ngIf="!!timeRetrieved">Stats Last Updated {{ timeRetrieved | date: 'medium' }}</p>
    </div>
    <!-- Filter -->
    <div clas="filter-container">
        <app-search-input [(value)]="filterValue" [inputWidth]="'300px'"></app-search-input>
    </div>
    <!-- Sort Options Container -->
    <mat-card class="sorting-selection">
        <div class="sort-label">
            <mat-icon>sort</mat-icon>
            <p>Sort by</p>
        </div>
        <div class="sort-options-container">
            <mat-card appearance="outlined" class="sort-option" (click)="updateSort('popular-platform')"
                [ngClass]="{'selected-item': currentSort === 'popular-platform'}">
                <p>Popular (Platform)</p>
            </mat-card>
            <mat-card appearance="outlined" class="sort-option" (click)="updateSort('alpha-platform')"
                [ngClass]="{'selected-item': currentSort === 'alpha-platform'}">
                <p>A-z (Platform)</p>
            </mat-card>
            <mat-card appearance="outlined" class="sort-option" (click)="updateSort('popular-account')"
                [ngClass]="{'selected-item': currentSort === 'popular-account'}">
                <p>Popular (Account)</p>
            </mat-card>
            <mat-card appearance="outlined" class="sort-option" (click)="updateSort('alpha-account')"
                [ngClass]="{'selected-item': currentSort === 'alpha-account'}">
                <p>A-z (Account)</p>
            </mat-card>
        </div>
    </mat-card>
    <!-- Account Count -->
    <div class="accounts-count-container">
        Showing {{(concatStatsArray | genericFilter: filterValue).length}} of {{concatStatsArray.length}} accounts
    </div>
    <!-- Individual Accounts -->
    <div class="accounts-container">
        <ng-container *ngFor="let account of concatStatsArray | genericFilter: filterValue">
            <ng-container [ngSwitch]="account.platformName">
                <!-- Youtube -->
                <ng-container *ngSwitchCase="'YouTube'">
                    <ng-template [ngTemplateOutlet]="youtubeCard"
                        [ngTemplateOutletContext]="{account:account}"></ng-template>
                </ng-container>
                <!-- Instagram -->
                <ng-container *ngSwitchCase="'Instagram'">
                    <ng-template [ngTemplateOutlet]="instagramCard"
                        [ngTemplateOutletContext]="{account:account}"></ng-template>
                </ng-container>
                <!-- Threads -->
                <ng-container *ngSwitchCase="'Threads'">
                    <ng-template [ngTemplateOutlet]="threadsCard"
                        [ngTemplateOutletContext]="{account:account}"></ng-template>
                </ng-container>
                <!-- Spotify -->
                <ng-container *ngSwitchCase="'Spotify'">
                    <ng-template [ngTemplateOutlet]="spotifyCard"
                        [ngTemplateOutletContext]="{account:account}"></ng-template>
                </ng-container>
                <!-- Newgrounds -->
                <ng-container *ngSwitchCase="'Newgrounds'">
                    <ng-template [ngTemplateOutlet]="newgroundsCard"
                        [ngTemplateOutletContext]="{account:account}"></ng-template>
                </ng-container>
                <!-- SoundCloud -->
                <ng-container *ngSwitchCase="'SoundCloud'">
                    <ng-template [ngTemplateOutlet]="soundcloudCard"
                        [ngTemplateOutletContext]="{account:account}"></ng-template>
                </ng-container>
                <!-- Twitter -->
                <ng-container *ngSwitchCase="'Twitter'">
                    <ng-template [ngTemplateOutlet]="twitterCard"
                        [ngTemplateOutletContext]="{account:account}"></ng-template>
                </ng-container>
                <!-- Twitch -->
                <ng-container *ngSwitchCase="'Twitch'">
                    <ng-template [ngTemplateOutlet]="twitchCard"
                        [ngTemplateOutletContext]="{account:account}"></ng-template>
                </ng-container>
                <!-- Tik Tok -->
                <ng-container *ngSwitchCase="'Tik Tok'">
                    <ng-template [ngTemplateOutlet]="tiktokCard"
                        [ngTemplateOutletContext]="{account:account}"></ng-template>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<!-- YouTube Card Template -->
<ng-template #youtubeCard let-account="account">
    <app-account-block [accountImg]="account?.iconBase64 ?? ''" [backupImg]="youtubeLogo" [link]="account?.link ?? ''"
        [accountType]="'youtube'">
        <div class="details-items-container">
            <div class="details-item primary">
                <mat-icon>account_circle</mat-icon>
                <p appTruncationTip>{{ account.displayName }}</p>
            </div>
            <div class="details-item">
                <mat-icon>badge</mat-icon>
                <p appTruncationTip>@{{ account.username }}</p>
            </div>
            <div class="details-item">
                <mat-icon>groups</mat-icon>
                <p appTruncationTip>{{ account.followerCount| number }}</p>
            </div>
            <div class="details-item">
                <mat-icon>visibility</mat-icon>
                <p appTruncationTip>{{ account.totalViews | number }}</p>
            </div>
        </div>
    </app-account-block>
</ng-template>

<!-- Instagram Card Template -->
<ng-template #instagramCard let-account="account">
    <app-account-block [accountImg]="account?.iconBase64 ?? ''" [backupImg]="instagramLogo" [link]="account?.link ?? ''"
        [accountType]="'instagram'">
        <div class="details-items-container">
            <div class="details-item primary" *ngIf="!!account.displayName">
                <mat-icon>account_circle</mat-icon>
                <p appTruncationTip>{{ account.displayName }}</p>
            </div>
            <div class="details-item">
                <mat-icon>badge</mat-icon>
                <p appTruncationTip>@{{ account.username }}</p>
            </div>
            <div class="details-item" *ngIf=" account.followerCount > 0">
                <mat-icon>groups</mat-icon>
                <p appTruncationTip>{{ account.followerCount | number }} Followers</p>
            </div>
            <div class="details-item" *ngIf=" account.followingCount > 0">
                <mat-icon>person_add</mat-icon>
                <p appTruncationTip>{{ account.followingCount | number }} Following</p>
            </div>
        </div>
    </app-account-block>
</ng-template>

<!-- Threads Card Template -->
<ng-template #threadsCard let-account="account">
    <app-account-block [accountImg]="account?.iconBase64 ?? ''" [backupImg]="threadsLogo" [link]="account?.link ?? ''"
        [accountType]="'threads'">
        <div class="details-items-container">
            <div class="details-item primary" *ngIf="!!account.displayName">
                <mat-icon>account_circle</mat-icon>
                <p appTruncationTip>{{ account.displayName }}</p>
            </div>
            <div class="details-item">
                <mat-icon>badge</mat-icon>
                <p appTruncationTip>@{{ account.username }}</p>
            </div>
            <div class="details-item" *ngIf=" account.followerCount > 0">
                <mat-icon>groups</mat-icon>
                <p appTruncationTip>{{ account.followerCount | number }} Followers</p>
            </div>
            <div class="details-item" *ngIf=" account.followingCount > 0">
                <mat-icon>person_add</mat-icon>
                <p appTruncationTip>{{ account.followingCount | number }} Following</p>
            </div>
        </div>
    </app-account-block>
</ng-template>

<!-- Spotify Card Template -->
<ng-template #spotifyCard let-account="account">
    <app-account-block [accountImg]="spotifyLogo" [backupImg]="spotifyLogo" [link]="account?.link ?? ''"
        [accountType]="'spotify'">
        <div class="details-items-container">
            <div class="details-item primary">
                <mat-icon>account_circle</mat-icon>
                <p>{{ account.displayName }}</p>
            </div>
            <div class="details-item">
                <mat-icon>groups</mat-icon>
                <p appTruncationTip>{{ account.followerCount| number }} Monthly Listeners</p>
            </div>
        </div>
    </app-account-block>
</ng-template>

<!-- Newgrounds Card Template -->
<ng-template #newgroundsCard let-account="account">
    <app-account-block [accountImg]="newgroundsLogo" [backupImg]="newgroundsLogo" [link]="account?.link ?? ''"
        [accountType]="'newgrounds'">
        <div class="details-items-container">
            <div class="details-item primary">
                <mat-icon>account_circle</mat-icon>
                <p>{{ account.displayName }}</p>
            </div>
            <div class="details-item">
                <mat-icon>groups</mat-icon>
                <p>{{ account.followerCount| number }}</p>
            </div>
            <div class="newgrounds-counts-row">
                <!-- movies -->
                <div class="count">
                    <mat-icon>movie</mat-icon>
                    <p>{{ account.moviesCount }}</p>
                </div>
                <!-- music tracks -->
                <div class="count">
                    <mat-icon>audiotrack</mat-icon>
                    <p>{{ account.audioCount }}</p>
                </div>
                <!-- art -->
                <div class="count">
                    <mat-icon>image</mat-icon>
                    <p>{{ account.artCount }}</p>
                </div>
                <!-- games -->
                <div class="count">
                    <mat-icon>sports_esports</mat-icon>
                    <p>{{ account.gamesCount }}</p>
                </div>
            </div>
        </div>
    </app-account-block>
</ng-template>

<!-- SoundCloud Card Template -->
<ng-template #soundcloudCard let-account="account">
    <app-account-block [accountImg]="account?.iconBase64 ?? ''" [backupImg]="soundcloudLogo"
        [link]="account?.link ?? ''" [accountType]="'soundcloud'">
        <div class="details-items-container">
            <div class="details-item primary">
                <mat-icon>account_circle</mat-icon>
                <p appTruncationTip>{{ account.displayName }}</p>
            </div>
            <div class="details-item">
                <mat-icon>badge</mat-icon>
                <p appTruncationTip>@{{ account.username }}</p>
            </div>
            <div class="details-item">
                <mat-icon>groups</mat-icon>
                <p appTruncationTip>{{ account.followerCount| number }} Followers</p>
            </div>
            <div class="details-item">
                <mat-icon>audiotrack</mat-icon>
                <p appTruncationTip>{{ account.tracks | number }} Tracks</p>
            </div>
        </div>
    </app-account-block>
</ng-template>

<!-- Twitter Card Template -->
<ng-template #twitterCard let-account="account">
    <app-account-block [accountImg]="account?.iconBase64 ?? ''" [backupImg]="twitterLogo" [link]="account?.link ?? ''"
        [accountType]="'twitter'">
        <div class="details-items-container">
            <div class="details-item primary" *ngIf="!!account.displayName">
                <mat-icon>account_circle</mat-icon>
                <p appTruncationTip>{{ account.displayName }}</p>
            </div>
            <div class="details-item">
                <mat-icon>badge</mat-icon>
                <p appTruncationTip>@{{ account.username }}</p>
            </div>
            <div class="details-item" *ngIf="account.followerCount > 0">
                <mat-icon>groups</mat-icon>
                <p appTruncationTip>{{ account.followerCount | number }} Followers</p>
            </div>
            <div class="details-item" *ngIf="account.followingCount > 0">
                <mat-icon>person_add</mat-icon>
                <p appTruncationTip>{{ account.followingCount | number }} Following</p>
            </div>
            <div class="details-item" *ngIf="account.totalTweets > 0">
                <mat-icon>newspaper</mat-icon>
                <p appTruncationTip>{{ account.totalTweets | number }} Tweets</p>
            </div>
        </div>
    </app-account-block>
</ng-template>

<!-- Twitch Card Template -->
<ng-template #twitchCard let-account="account">
    <app-account-block [accountImg]="account?.iconBase64 ?? ''" [backupImg]="twitchLogo" [link]="account?.link ?? ''"
        [accountType]="'twitch'">
        <div class="details-items-container">
            <div class="details-item primary">
                <mat-icon>account_circle</mat-icon>
                <p appTruncationTip>{{ account.displayName }}</p>
            </div>
            <div class="details-item">
                <mat-icon>badge</mat-icon>
                <p appTruncationTip>@{{ account.username }}</p>
            </div>
            <div class="details-item">
                <mat-icon>groups</mat-icon>
                <p appTruncationTip>{{ account.followerCount| number }} Followers</p>
            </div>
        </div>
    </app-account-block>
</ng-template>

<!-- TikTok Card Template -->
<ng-template #tiktokCard let-account="account">
    <app-account-block [accountImg]="account?.iconBase64 ?? ''" [backupImg]="tiktokLogo" [link]="account?.link ?? ''"
        [accountType]="'tiktok'">
        <div class="details-items-container">
            <div class="details-item primary">
                <mat-icon>account_circle</mat-icon>
                <p appTruncationTip>{{ account.displayName }}</p>
            </div>
            <div class="details-item">
                <mat-icon>badge</mat-icon>
                <p appTruncationTip>@{{ account.username }}</p>
            </div>
            <div class="details-item">
                <mat-icon>groups</mat-icon>
                <p appTruncationTip>{{ account.followerCount| number }} Followers</p>
            </div>
            <div class="details-item">
                <mat-icon>groups</mat-icon>
                <p appTruncationTip>{{ account.likes| number }} Likes Received</p>
            </div>
        </div>
    </app-account-block>
</ng-template>