<div class="stats-container">
    <!-- User Profile Summary Plate -->
    <ng-container *ngIf="!loading">
        <app-user-plate [userStats]="userStats" [userSum]="userSum"></app-user-plate>
    </ng-container>
    <!-- Time Retrieved -->
    <div class="timestamp">
        <p *ngIf="!!timeRetrieved">Stats Last Updated {{ timeRetrieved | date: 'medium' }}</p>
    </div>
    <!-- Individual Accounts -->
    <div class="accounts-container">
        <!-- Youtube -->
        <ng-container *ngFor="let youtube of userStats.youtubeStats">
            <app-account-block [accountImg]="youtube?.iconBase64 ?? ''" [backupImg]="youtubeLogo" [link]="youtube?.link ?? ''"
                [accountType]="'youtube'">
                <div class="details-items-container">
                    <div class="details-item primary">
                        <mat-icon>account_circle</mat-icon>
                        <p appTruncationTip>{{ youtube.displayName }}</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>badge</mat-icon>
                        <p appTruncationTip>@{{ youtube.username }}</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>groups</mat-icon>
                        <p appTruncationTip>{{ youtube.followerCount| number }}</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>visibility</mat-icon>
                        <p appTruncationTip>{{ youtube.totalViews | number }}</p>
                    </div>
                </div>
            </app-account-block>
        </ng-container>
        <!-- Instagram -->
        <ng-container *ngFor="let instagram of userStats.instaStats">
            <ng-container *ngIf="!!instagram">
                <app-account-block [accountImg]="instagram?.iconBase64 ?? ''" [backupImg]="instagramLogo" [link]="instagram?.link ?? ''"
                    [accountType]="'instagram'">
                    <div class="details-items-container">
                        <div class="details-item primary" *ngIf="!!instagram.displayName">
                            <mat-icon>account_circle</mat-icon>
                            <p appTruncationTip>{{ instagram.displayName }}</p>
                        </div>
                        <div class="details-item">
                            <mat-icon>badge</mat-icon>
                            <p appTruncationTip>@{{ instagram.username }}</p>
                        </div>
                        <div class="details-item" *ngIf=" instagram.followerCount > 0">
                            <mat-icon>groups</mat-icon>
                            <p appTruncationTip>{{ instagram.followerCount | number }} Followers</p>
                        </div>
                        <div class="details-item" *ngIf=" instagram.followingCount > 0">
                            <mat-icon>person_add</mat-icon>
                            <p appTruncationTip>{{ instagram.followingCount | number }} Following</p>
                        </div>
                    </div>
                </app-account-block>
            </ng-container>
        </ng-container>
        <!-- Threads -->
        <ng-container *ngFor="let threads of userStats.threadsStats">
            <ng-container *ngIf="!!threads">
                <app-account-block [accountImg]="threads?.iconBase64 ?? ''" [backupImg]="threadsLogo" [link]="threads?.link ?? ''"
                    [accountType]="'threads'">
                    <div class="details-items-container">
                        <div class="details-item primary" *ngIf="!!threads.displayName">
                            <mat-icon>account_circle</mat-icon>
                            <p appTruncationTip>{{ threads.displayName }}</p>
                        </div>
                        <div class="details-item">
                            <mat-icon>badge</mat-icon>
                            <p appTruncationTip>@{{ threads.username }}</p>
                        </div>
                        <div class="details-item" *ngIf=" threads.followerCount > 0">
                            <mat-icon>groups</mat-icon>
                            <p appTruncationTip>{{ threads.followerCount | number }} Followers</p>
                        </div>
                        <div class="details-item" *ngIf=" threads.followingCount > 0">
                            <mat-icon>person_add</mat-icon>
                            <p appTruncationTip>{{ threads.followingCount | number }} Following</p>
                        </div>
                    </div>
                </app-account-block>
            </ng-container>
        </ng-container>
        <!-- Spotify -->
        <ng-container *ngFor="let spotify of userStats.spotifyStats">
            <app-account-block [accountImg]="spotifyLogo" [backupImg]="spotifyLogo" [link]="spotify?.link ?? ''"
                [accountType]="'spotify'">
                <div class="details-items-container">
                    <div class="details-item primary">
                        <mat-icon>account_circle</mat-icon>
                        <p>{{ spotify.displayName }}</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>groups</mat-icon>
                        <p appTruncationTip>{{ spotify.followerCount| number }} Monthly Listeners</p>
                    </div>
                </div>
            </app-account-block>
        </ng-container>
        <!-- Newgrounds -->
        <ng-container *ngFor="let newgrounds of userStats.newgroundsStats">
            <app-account-block [accountImg]="newgroundsLogo" [backupImg]="newgroundsLogo" [link]="newgrounds?.link ?? ''"
                [accountType]="'newgrounds'">
                <div class="details-items-container">
                    <div class="details-item primary">
                        <mat-icon>account_circle</mat-icon>
                        <p>{{ newgrounds.displayName }}</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>groups</mat-icon>
                        <p>{{ newgrounds.followerCount| number }}</p>
                    </div>
                    <div class="newgrounds-counts-row">
                        <!-- movies -->
                        <div class="count">
                            <mat-icon>movie</mat-icon>
                            <p>{{ newgrounds.moviesCount }}</p>
                        </div>
                        <!-- music tracks -->
                        <div class="count">
                            <mat-icon>audiotrack</mat-icon>
                            <p>{{ newgrounds.audioCount }}</p>
                        </div>
                        <!-- art -->
                        <div class="count">
                            <mat-icon>image</mat-icon>
                            <p>{{ newgrounds.artCount }}</p>
                        </div>
                        <!-- games -->
                        <div class="count">
                            <mat-icon>sports_esports</mat-icon>
                            <p>{{ newgrounds.gamesCount }}</p>
                        </div>
                    </div>
                </div>
            </app-account-block>
        </ng-container>
        <!-- SoundCloud -->
        <ng-container *ngFor="let soundcloud of userStats.soundcloudStats">
            <app-account-block [accountImg]="soundcloud?.iconBase64 ?? ''" [backupImg]="soundcloudLogo" [link]="soundcloud?.link ?? ''"
                [accountType]="'soundcloud'">
                <div class="details-items-container">
                    <div class="details-item primary">
                        <mat-icon>account_circle</mat-icon>
                        <p appTruncationTip>{{ soundcloud.displayName }}</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>badge</mat-icon>
                        <p appTruncationTip>@{{ soundcloud.username }}</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>groups</mat-icon>
                        <p appTruncationTip>{{ soundcloud.followerCount| number }} Followers</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>audiotrack</mat-icon>
                        <p appTruncationTip>{{ soundcloud.tracks | number }} Tracks</p>
                    </div>
                </div>
            </app-account-block>
        </ng-container>
        <!-- Twitter -->
        <ng-container *ngFor="let twitter of userStats.twitterStats">
            <app-account-block [accountImg]="twitter?.iconBase64 ?? ''" [backupImg]="twitterLogo" [link]="twitter?.link ?? ''"
                [accountType]="'twitter'">
                <div class="details-items-container">
                    <div class="details-item primary" *ngIf="!!twitter.displayName">
                        <mat-icon>account_circle</mat-icon>
                        <p appTruncationTip>{{ twitter.displayName }}</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>badge</mat-icon>
                        <p appTruncationTip>@{{ twitter.username }}</p>
                    </div>
                    <div class="details-item" *ngIf="twitter.followerCount > 0">
                        <mat-icon>groups</mat-icon>
                        <p appTruncationTip>{{ twitter.followerCount | number }} Followers</p>
                    </div>
                    <div class="details-item" *ngIf="twitter.followingCount > 0">
                        <mat-icon>person_add</mat-icon>
                        <p appTruncationTip>{{ twitter.followingCount | number }} Following</p>
                    </div>
                    <div class="details-item" *ngIf="twitter.totalTweets > 0">
                        <mat-icon>newspaper</mat-icon>
                        <p appTruncationTip>{{ twitter.totalTweets | number }} Tweets</p>
                    </div>
                </div>
            </app-account-block>
        </ng-container>
        <!-- Twitch -->
        <ng-container *ngFor="let twitch of userStats.twitchStats">
            <app-account-block [accountImg]="twitch?.iconBase64 ?? ''" [backupImg]="twitchLogo" [link]="twitch?.link ?? ''"
                [accountType]="'twitch'">
                <div class="details-items-container">
                    <div class="details-item primary">
                        <mat-icon>account_circle</mat-icon>
                        <p appTruncationTip>{{ twitch.displayName }}</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>badge</mat-icon>
                        <p appTruncationTip>@{{ twitch.username }}</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>groups</mat-icon>
                        <p appTruncationTip>{{ twitch.followerCount| number }} Followers</p>
                    </div>
                </div>
            </app-account-block>
        </ng-container>
        <!-- Tik Tok -->
        <ng-container *ngFor="let tiktok of userStats.tiktokStats">
            <app-account-block [accountImg]="tiktok?.iconBase64 ?? ''" [backupImg]="tiktokLogo" [link]="tiktok?.link ?? ''"
                [accountType]="'tiktok'">
                <div class="details-items-container">
                    <div class="details-item primary">
                        <mat-icon>account_circle</mat-icon>
                        <p appTruncationTip>{{ tiktok.displayName }}</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>badge</mat-icon>
                        <p appTruncationTip>@{{ tiktok.username }}</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>groups</mat-icon>
                        <p appTruncationTip>{{ tiktok.followerCount| number }} Followers</p>
                    </div>
                    <div class="details-item">
                        <mat-icon>groups</mat-icon>
                        <p appTruncationTip>{{ tiktok.likes| number }} Likes Received</p>
                    </div>
                </div>
            </app-account-block>
        </ng-container>
    </div>
</div>