@import 'src/styles.scss';

:host {
    width: 100%;
    height: 100%;
}

.stats-container {
    @include flex-col-center();
    width: 100%;
    .timestamp {
        width: 100%;
        @include flex-row-center();
        font-size: 12px;
        color: gray;
        padding: 10px;
    }
    mat-tab-group {
        transition: 0.2s;
        ::ng-deep mat-tab-header {
            background-color: #5e67a4 !important;
            transition: 0.2s;
            border-radius: 0px;
            margin: auto;
            width: 100%;
            @media screen and (min-width: 900px) {
                border-radius: 5px;
                width: 900px;
                margin: auto;
            }
            @media screen and (min-width: 1050px) {
                border-radius: 5px;
                width: 1050px;
                margin: auto;
            }
        }
        width: 100%;
        .tab-title-container {
            @include flex-row-center();
            gap: 0.5rem;
        }
    }
    .accounts-container {
        padding-top: 1rem;
        @include flex-col-center();
        width: 100%;
        .filter-container {
            padding: 0;
        }
        .accounts-count-container {
            font-size: 12px;
            color: gray;
        }
        .sorting-selection {
            border-radius: 5px;
            width: 350px;
            font-size: 12px;
            color: grey;
            padding: 3px;
            @include flex-row-center;
            justify-content: flex-start;
            gap: 5px;
            margin: 10px;
            .sort-label {
                margin-right: 10px;
                @include flex-row-center;
                gap: 5px;
            }
            .sort-option {
                border: solid lightgrey 1px;
                padding: 3px 10px;
                &.selected-item {
                    background: lightgrey;
                    color: black;
                }
                &:hover {
                    cursor: pointer;
                    background: rgb(235, 235, 235);
                }
            }
            .sort-options-container {
                @include flex-row-center();
                flex-wrap: wrap;
                width: calc(100% - 100px);
                gap: 5px;
            }
        }
        .accounts-container {
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            max-width: 1400px;

            .details-items-container {
                padding-top: 3px;
                padding-left: 10px;
                padding-right: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                width: 135px;
            }
            .details-item {
                margin-top: -6px;
                &.primary {
                    color: black;
                    font-weight: bold;
                }
                p {
                    @include text-truncate();
                    position: relative;
                }
                @include flex-row-center();
                gap: 5px;
                justify-content: flex-start;
                color: grey;
                font-size: 14px;
                mat-icon {
                    color: grey;
                    font-size: 19px;
                    margin-top: 5px;
                }
            }
            .newgrounds-counts-row {
                @include flex-row-center();
                justify-content: flex-start;
                gap: 6px;
                p {
                    color: grey;
                    font-size: 12px;
                    margin-left: -5px;
                }
                mat-icon {
                    color: grey;
                    font-size: 16px;
                    margin-top: 5px;
                    margin-right: -5px;
                }
                .count {
                    @include flex-row-center();
                }
            }
        }
    }
    .charts-container {
        overflow: hidden;
        padding-left: 1rem;
        padding-top: 2rem;
        width: calc(100% - 2rem);
        @include flex-row-center();
        gap: 1rem;
        flex-wrap: wrap;
        .chart {
            @include flex-col-center();
            gap: 0.3rem;
            min-width: 350px;
            max-width: 600px;
            height: 350px;
        }
    }
}
