@import 'src/styles.scss';

:host {
    @include flex-col-center();
    height: 100%;
    width: 100%;
    padding: 5px;
    position: relative;
}

$search-box-height: 100px;

.card-above { 
    height: $search-box-height;
    @include flex-col-center();
}

.user-list-table { 
    @include flex-row-center();

    width: 85%;
    min-width: 350px;
    max-width: 500px;
    height: calc(100vh - $search-box-height - 300px);

    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    mat-divider { 
        width: calc(100% - 20px);
    }
    .user-item { 
        width: calc(100% - 30px);
        height: 35px;
        @include flex-row-center();
        justify-content: space-between;
        padding: 10px;
        border-radius: 5px;
        margin: 5px;
        &:hover { 
            background-color: lightgrey;
            cursor: pointer;
        }
        .display-name {
            width: 50%;
            @include text-truncate();
            font-size: 13px;
            text-align: left;
        }
        .username { 
            width: 40%;
            color: grey;
            font-size: smaller;
            font-size: 12px;
            @include text-truncate();
            text-align: left;
        }
        .follower-count {
            @include flex-row-center();
            justify-content: flex-start;
            mat-icon { 
                font-size: 20px;
                margin-top: 5px;
            }
            color: grey;
            width: 10%;
            @include text-truncate();
            text-align: left;
            font-size: smaller;
        }
        .icon { 
            width: 10%;
        }
        
    }
}