<div class="card-above">
    <h3>Currently Registered Users:</h3>
    <app-search-input [(value)]="filterValue" [inputWidth]="'300px'"></app-search-input>
</div>

<mat-card class="user-list-table">
    <ng-container *ngFor="let user of sumCollection.sums | genericFilter:filterValue">
        <div class="user-item"  (click)="goToUserPage(user.username)">
            <p class="display-name">{{ user.displayName }}</p>
            <p class="username">/u/{{ user.username }}</p>
            <div class="follower-count">
                <mat-icon>people</mat-icon>
                <p>{{ user.totalFollowers | numberTruncate }}</p>
            </div>
            <div class="icon">
                <mat-icon>east</mat-icon>
            </div>
        </div>
        <mat-divider></mat-divider>
    </ng-container>
</mat-card>