@import 'src/styles.scss';

:host {
    app-display-plate {
        min-width: 50px;
        margin-top: 5px;
    }
}

.timestamp { 
    width: 100%;
    @include flex-row-center();
    font-size: 12px;
    color: lightgray;
    padding: 5px;
}

.user-plate-container {
    border-radius: 20px;
    width: 365px;
    $border-color: #5e67a4;
    .header-row {
        background-color: $border-color;
        border-radius: 50px 50px 0px 0px;
        height: 15px;
        &::before { 
            content: "";
            position: absolute;
            background-color: transparent;
            top: 15px;
            height: 50px;
            width: 30px;
            border-top-left-radius: 15px;
            box-shadow: 0 -15px 0 0 #5e67a4;
            transform: rotate(0deg);
            left: 0px;
            z-index: 2;
        }
        &::after { 
            content: "";
            position: absolute;
            background-color: transparent;
            top: 15px;
            height: 50px;
            width: 30px;
            border-top-right-radius: 15px;
            box-shadow: 0 -15px 0 0 #5e67a4;
            transform: rotate(0deg);
            right: 0px;
            z-index: 2;
        }
    }
    .top-row {
        padding-top: 10px;
        padding-bottom: 10px;
        @include flex-row-center();
        justify-content: center;
        gap: 15px;
        .profile-image {
            width: 100px;
            border-radius: 50%;
        }
    }
    .info-row {
        @include flex-row-center();
        gap: 10px;
        .display-name {
            font-weight: bold;
            color: grey;
        }
    }
    .follower-count {
        @include flex-row-center();
        font-weight: bold;
        font-size: 18px;
        height: 25px;
        padding-bottom: 10px;
    }
    .stats-objects {
        @include flex-row-center();
        flex-wrap: wrap;
        padding: 15px;
        gap: 10px;

        .app-block-rows-container {
            width: 100%;
            @include flex-col-center();
            .app-block-row { 
                width: 100%;
                @include flex-row-center();
                justify-content: flex-start;
                color: grey;
                font-size: 12px;
                &.primary { 
                    font-weight: bold;
                }
                mat-icon { 
                    font-size: 16px;
                    margin-bottom: -6px;
                    margin-right: -5px;
                }
                p { 
                    margin-bottom: -5px;
                }
            }
        }
    }
    .user-link {
        background-color: $border-color;
        border-radius: 0px 0px 50px 50px;
        padding-left: 15px;
        padding-right: 15px;
        float: right;
        z-index: 2;
        position: relative;
        p {
            color: white;
            float: right;
            font-weight: 500;
            z-index: 2;
        }
        height: 20px;
        &::after { 
            content: "";
            position: absolute;
            background-color: transparent;
            bottom: 20px;
            height: 50px;
            width: 30px;
            border-top-left-radius: 20px;
            box-shadow: 0 -20px 0 0 #5e67a4;
            transform: rotate(180deg);
            right: 0px;
            z-index: -1;
        }
        &::before { 
            content: "";
            position: absolute;
            background-color: transparent;
            bottom: 20px;
            height: 50px;
            width: 30px;
            border-top-right-radius: 20px;
            box-shadow: 0 -20px 0 0 #5e67a4;
            transform: rotate(180deg);
            left: 0px;
            z-index: -1;
        }
    }
}
