@import 'src/styles.scss';

$width: 275px;
$details-height: 50px;

:host { 
    width: $width;
    display: flex;
    height: 160px;
    @include flex-col-center();
    gap: 10px;
}

.user-icon-container {
    width: 100%; 
    display: flex;
    @include flex-col-center();
    img { 
        border-radius: 12px;
        display: flex;
        width:  60px;
        height:  60px;
    }
}

.details { 
    @include flex-col-center();
    height: $details-height;
    margin-top: 5px;
    margin-bottom: 5px;
    mat-divider {
        margin: 5px;
        width: 90%;
    }
    .display-name{ 
        font-weight: bold;
        font-size: medium;
    }
    .handle { 
        color: grey;
        font-size: small;
    }
    .counts-row { 
        @include flex-row-center();
        gap: 10px;
        .count { 
            @include flex-row-center();
            mat-icon { 
                color:grey;
                font-size: 18px;
                margin-top: 5px;
                margin-right: -3px;
            }
            color: grey;
        }
    }
}