@import 'src/styles.scss';

:host {
    .links-container {
        @include flex-row-center();
        padding: 5px;
        border-radius: 5px;
        button {
            &.first-button { 
                border-radius: 5px 0 0 5px;
            }
            &.middle-button { 
                border-radius: 0 0 0 0;
            }
            &.last-button { 
                border-radius: 0 5px 5px 0;
                
            }
        }
    }
}


