@import 'src/styles.scss';

:host { 
    .links-container { 
        @include flex-row-center();
        gap: 5px;
        
        padding: 5px;
        border-radius: 5px;
        button { 
            background-color: #1f1f1f;
        }
    }
}

