@import 'src/styles.scss';

$width: 250px;
$details-height: 50px;

:host { 
    width: $width;
    display: flex;
    height: 150px;
    @include flex-col-center();
    gap: 10px;
}

.user-icon-container {
    width: 100%; 
    display: flex;
    @include flex-col-center();
    img { 
        border-radius: 25px;
        display: flex;
        width:  60px;
        height:  60px;
    }
}

.details { 
    @include flex-col-center();
    height: $details-height;
    margin-top: 5px;
    margin-bottom: 5px;
    mat-divider {
        margin: 5px;
        width: 90%;
    }
    .display-name{ 
        font-weight: bold;
        font-size: medium;
    }
    .handle { 
        color: grey;
        font-size: small;
    }
}